# Common
target
node_modules
.DS_STORE
dist

# Package Manager
.parcel-cache
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Developer tools
.idea
.vscode

# Demo Wallet package
packages/demo-wallet/dist/*
!/packages/demo-wallet/dist/_headers

# e2e Tests package
packages/e2e-tests/dist/*
!/packages/e2e-tests/dist/serve.json

