/target
node_modules
.DS_STORE
.idea
.parcel-cache

.pnp.*
.yarn/*

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.parcel-cache

packages/demo-wallet/dist/*
packages/e2e-tests/dist/*
./dist/*

!packages/demo-wallet/dist/_headers
!packages/e2e-tests/dist/serve.json
