@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto:wdth,wght@75..100,100..900&display=swap');
@import 'tailwindcss';

@layer base {
  :root {
    --font-sans: 'Roboto', 'sans-serif';
    --font-body: 'Roboto', 'sans-serif';
    --font-inter: 'Inter', 'sans-serif';
    --buttonBlackGradient: radial-gradient(
      82.64% 800.96% at 50% -550.96%,
      #000 0%,
      rgba(59, 59, 59, 0.81) 55%,
      #000 100%
    );
    --buttonBlackGradientHover: radial-gradient(
      82.64% 800.96% at 50% -550.96%,
      #000 0%,
      rgba(59, 59, 59, 0.81) 74%,
      #000 100%
    );
  }
}

@layer utilities {
  .navbar-link:hover svg path {
    fill: #e27625;
  }
  .navbar-link-active svg path {
    fill: #e27625;
  }
  .bg-button-black-gradient {
    background-image: var(--buttonBlackGradient);
  }

  .bg-button-black-gradient-hover:hover {
    background-image: var(--buttonBlackGradientHover);
  }
}

.home-page {
  header {
    border-bottom: none;
  }
}

body {
  background: #0a0a0a;
  position: relative;
  color: #ffffff;
  &.home-page-bg {
    background: linear-gradient(180deg, #0a0a0a 0%, #1a1a1a 100%);

    /* Noise background */

    &:before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      opacity: 0.15;
      background: url('../assets/noise.png') #1a1a1a 0 0 / 15px 15px repeat;
      mix-blend-mode: overlay;
    }

    /* Subtle accent shape background */

    &:after {
      content: '';
      position: absolute;
      width: 75.5vw;
      height: 88.1875rem;
      top: 20rem;
      left: 2.5rem;
      z-index: -1;
      border-radius: 88.1875rem;
      background: rgba(100, 100, 100, 0.1);
      filter: blur(274px);
    }
  }
}
